<div class="navbar-default" role="navigation">
    <div class="sidebar-nav" >
        <ul class="nav" >
            <li ><a href="#" class="fa fa-dashboard fa-fw">仪表盘</a></li>
              <li><a href="#dashboard-menu" data-toggle="collapse" class="active" >
                  <strong>资产管理</strong>
              </a>
              </li>
              <ul class="nav nav-second-level collapse" id="dashboard-menu">
                    <li><a href="#">主机信息</a></li>
                    <li><a href="#">容器信息</a></li>
                    <li><a href="#">网络设备</a></li>
              </ul>

               <li> <a href="#dashboard-menu1" data-toggle="collapse" type="button">
                    <i class="fa fa-gears fa-fw"></i>
                    运维操作
                </a>
               </li>
                <ul class="nav nav-second-level collapse" id="dashboard-menu1">
                    <li><a  href="#"><span class="fa fa-envelope-o fa-fw">主机操作</span></a></li>
                    <li><a href="#">自动发布</a></li>
                    <li><a href="#">运维管理</a></li>
                </ul>


                <li>
                    <a href="#dashboard-menu2" data-toggle="collapse">
                    <i class="fa fa-bank"></i>
                    操作日志
                </a>
                </li>
                <ul class="nav nav-second-level collapse" id="dashboard-menu2">
                    <li><a href="#">主机日志</a></li>
                    <li><a href="#">平台日志</a></li>
                </ul>

        </ul>
    </div>
</div>

